n8n/workflows/EasyStore_Webhook__Order_Sync.json
{
  "name": "EasyStore Webhook — Order Sync (N-05)",
  "nodes": [
    {
      "parameters": {
        "path": "easystore-order",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "name": "ES Webhook (IN)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "easystore-order",
      "notes": "接收 EasyStore webhook POST。\n事件類型：orders/create, orders/paid, orders/fulfilled\nURL: https://n8n.winds.tw/webhook/easystore-order\n⚠️ 如 ES 有 HMAC 驗證，需在後續節點加驗簽邏輯。"
    },
    {
      "parameters": {
        "functionCode": "// 解析 EasyStore order webhook payload\nconst payload = $json;\n\nconst order_id = payload.id || '';\nconst event_type = payload.topic || 'orders/create';\nconst order_number = payload.order_number || payload.name || '';\n\n// Customer info\nconst customer = payload.customer || {};\nconst customer_email = customer.email || '';\nconst customer_name = (customer.first_name || '') + ' ' + (customer.last_name || '');\nconst customer_phone = customer.phone || '';\n\n// Order details\nconst total_price = parseFloat(payload.total_price) || 0;\nconst currency = payload.currency || 'TWD';\nconst financial_status = payload.financial_status || 'pending';\nconst fulfillment_status = payload.fulfillment_status || '';\n\n// Line items summary\nconst line_items = payload.line_items || [];\nconst items_summary = line_items.map(item => \n  `${item.title || item.name} x${item.quantity}`\n).join(', ');\n\n// Try to find line_user_id from note or UTM\nconst note = payload.note || '';\nconst line_user_id_match = note.match(/line_user_id[=:]([^&\\s]+)/);\nconst line_user_id = line_user_id_match ? line_user_id_match[1] : '';\n\nreturn [{\n  json: {\n    order_id: String(order_id),\n    event_type,\n    order_number,\n    customer_email,\n    customer_name: customer_name.trim(),\n    customer_phone,\n    total_price,\n    currency,\n    financial_status,\n    fulfillment_status,\n    items_summary,\n    line_user_id,\n    raw_payload: JSON.stringify(payload)\n  }\n}];"
      },
      "name": "Parse ES Order Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        300
      ],
      "notes": "解析 EasyStore 訂單 webhook payload。\n提取 order_id, customer info, line_items, 金額等。\nline_user_id 嘗試從 order note 中提取（來自導流中間頁）。\n⚠️ 需對照 ES 實際 webhook payload 結構調整。"
    },
    {
      "parameters": {
        "url": "https://www.zohoapis.com/creator/custom/uneedwind/handleEasyStoreWebhook?publickey=__ES_WEBHOOK_PUBLIC_KEY__",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"order_id\": \"{{ $json.order_id }}\",\n  \"event_type\": \"{{ $json.event_type }}\",\n  \"order_number\": \"{{ $json.order_number }}\",\n  \"customer_email\": \"{{ $json.customer_email }}\",\n  \"customer_name\": \"{{ $json.customer_name }}\",\n  \"customer_phone\": \"{{ $json.customer_phone }}\",\n  \"total_price\": {{ $json.total_price }},\n  \"currency\": \"{{ $json.currency }}\",\n  \"financial_status\": \"{{ $json.financial_status }}\",\n  \"fulfillment_status\": \"{{ $json.fulfillment_status }}\",\n  \"items_summary\": {{ JSON.stringify($json.items_summary) }},\n  \"line_user_id\": \"{{ $json.line_user_id }}\",\n  \"raw_payload\": {{ JSON.stringify($json.raw_payload) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "POST to Creator API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        300
      ],
      "notes": "呼叫 Creator API.handleEasyStoreWebhook (C-08)。\n功能：以 email 匹配 Clients_Report → 寫入 Product_Orders → 更新 Recommendation_Logs 轉換狀態。\n⚠️ 替換 __ES_WEBHOOK_PUBLIC_KEY__。"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.line_user_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Line User ID?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        300
      ],
      "notes": "檢查是否有 LINE User ID。\n有則發送 LINE push 通知；無則跳過。"
    },
    {
      "parameters": {
        "url": "https://api.line.me/v2/bot/message/push",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.LINE_CHANNEL_ACCESS_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.line_user_id }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"您的訂單已成立！\\n\\n訂單編號：{{ $json.order_number }}\\n商品：{{ $json.items_summary }}\\n金額：NT${{ $json.total_price }}\\n\\n感謝您的購買，祝您順心如意 🙏\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "LINE Push Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1300,
        240
      ],
      "notes": "LINE Push 訂單確認通知（可選）。\n僅在有 line_user_id 時才發送。\n需環境變數：LINE_CHANNEL_ACCESS_TOKEN。"
    }
  ],
  "connections": {
    "ES Webhook (IN)": {
      "main": [
        [
          {
            "node": "Parse ES Order Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse ES Order Payload": {
      "main": [
        [
          {
            "node": "POST to Creator API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Creator API": {
      "main": [
        [
          {
            "node": "Has Line User ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Line User ID?": {
      "main": [
        [
          {
            "node": "LINE Push Notification",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "TEMPLATE",
  "meta": {
    "templateCreds": true,
    "description": "N-05: EasyStore 訂單 Webhook 同步。\n用途：接收 EasyStore 訂單 webhook（orders/create, orders/paid, orders/fulfilled）→ 解析 → 轉發至 Creator → 可選 LINE push 通知。\n入口：POST /webhook/easystore-order\n依賴：Creator C-08 API.handleEasyStoreWebhook 已部署。\n⚠️ 替換 __ES_WEBHOOK_PUBLIC_KEY__。\n⚠️ 需設定 LINE_CHANNEL_ACCESS_TOKEN 環境變數。"
  }
}