n8n/workflows/Weekly_Fortune__NoonBaZi__Generate_And_Queue.json
{
  "name": "Weekly Fortune — Noon BaZi → Generate & Queue (Template)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 11,
              "minute": 55,
              "weekday": "1"
            }
          ]
        }
      },
      "name": "Cron (Weekly Mon 11:55)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Weekly fortune content pillar (gentle + render)\n// IMPORTANT: Reference time is *Taipei local time* (Asia/Taipei).\n// We send both a Taipei-local string and an ISO timestamp for debugging.\n\nconst tz = 'Asia/Taipei';\nconst now = new Date();\n\n// Compute next Monday 12:00 in Taipei local semantics (week base).\nconst ref = new Date(now);\nconst day = ref.getDay(); // 0 Sun .. 6 Sat\nconst diffToMon = (8 - day) % 7; // days until next Mon (0 if Mon)\nref.setDate(ref.getDate() + diffToMon);\nref.setHours(12, 0, 0, 0);\n\n// Format as Taipei-local string: YYYY-MM-DD HH:mm:ss\nconst parts = new Intl.DateTimeFormat('sv-SE', {\n  timeZone: tz,\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  hour12: false\n}).formatToParts(ref).reduce((acc,p)=>{acc[p.type]=p.value;return acc;},{});\nconst referenceLocalTime = `${parts.year}-${parts.month}-${parts.day} ${parts.hour}:${parts.minute}:${parts.second}`;\n\nreturn [{\n  json: {\n    kind: 'weekly_fortune',\n    referenceLocalTime,\n    timezone: tz,\n    referenceIsoUtc: ref.toISOString(),\n    tone: 'gentle_render',\n    cta: 'line_free_divination',\n    channels: ['ig', 'threads', 'short_video'],\n    placeholder: true,\n    note: 'Template workflow: Creator should compute BaZi using referenceLocalTime+timezone; replace placeholder once API is ready.'\n  }\n}];\n"
      },
      "name": "Build Reference Payload (Placeholder)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ZOHO_CREATOR_WEEKLY_FORTUNE_URL}}",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Zoho Creator (Queue Fortune)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Cron (Weekly Mon 11:55)": {
      "main": [
        [
          {
            "node": "Build Reference Payload (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Reference Payload (Placeholder)": {
      "main": [
        [
          {
            "node": "Zoho Creator (Queue Fortune)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCreds": true,
    "description": "用途：每週一 11:55 觸發，組出「週一 12:00 台北時間」基準，送到 Creator API.QueueWeeklyFortune_v1 入隊，讓 Creator 做 BaZi/素材 SSOT。\n必填 env：ZOHO_CREATOR_WEEKLY_FORTUNE_URL（指向 API.QueueWeeklyFortune_v1 endpoint）\n注意：payload 需包含 timezone=Asia/Taipei + referenceLocalTime（避免 UTC 偏移）。"
  }
}